strict-ssl=false

# proxy needs to be enabled if using public registry
# https-proxy=http://wwwproxy.nslb.ad.moodys.net/mdyproxy.pac
# proxy=http://wwwproxy.nslb.ad.moodys.net/mdyproxy.pac
# registry=https://registry.npmjs.org

# use private registry instead (proxy must be disabled)
https-proxy=null
proxy=null
registry=https://registry.npm.taobao.org

